<div
  class="pt-[60vh] text-neutral-500/50 flex flex-col items-center justify-center my-10 text-light"
>
  <p>
    [This Space Intentionally Left Blank] inspired by
    <a class="underline" target="_blank" href="https://cpu.land/"> cpu.land </a>
  </p>
  <p>
    The bottom of every blog post is padded so readers can maintain a consistent
    eyeline.
  </p>
</div>
