---
import { formatDate, readingTime } from "@/lib/utils"

interface Props {
  title: string
  url: string
  desc: string
  date: string
  tags: string[]
  path: string
}

const { title, url, desc, date, tags, path } = Astro.props
---

<a
  href={url}
  class="group relative flex flex-nowrap rounded-lg bg-black/5 px-4 py-3 pr-10 text-black transition-all duration-300 ease-in-out dark:bg-white/5 dark:text-white"
>
  <div class="flex flex-1 flex-col">
    <div class="text-ellipsis font-semibold">
      {title}
    </div>
    <div class="my-1 flex gap-2 text-sm text-stone-600 dark:text-stone-400">
      {formatDate(new Date(date))}

      {
        tags.map((tag) => (
          <div class="rounded-lg bg-white/10 px-1 text-stone-200 invert dark:bg-black/10 dark:text-stone-800">
            #{tag}
          </div>
        ))
      }
    </div>
    <div class="text-sm italic">
      {desc}
    </div>
  </div>
</a>
